<header>
  <h1> {{pageTitle}}</h1>
  <style>
  div{  padding:10px;}
  </style>
  <div style="clear:both">
  <div style="float:left"><a href="/">Home</a></div>
  <div style="float:left"><a href="/projects">Projects</a></div>
  <div style="float:left"><a href="/about">About</a></div>
</div><br>
</header>
